@font-face {
    font-family: 'din-next-regular';
    src: url(fonts/DIN-Next-W1G/dinnextw1g.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din-next-medium';
    src: url(fonts/DIN-Next-W1G/dinnextw1g_medium.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "din-next-bold";
    src: url(fonts/DIN-Next-W1G/dinnextw1g_bold.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din-next-heavy';
    src: url(fonts/DIN-Next-W1G/dinnextw1g_heavy.woff);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0%;
    background-color: #222222;
    font-family: 'din-next-regular', sans-serif;
}

/* navigation */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: black;
    z-index: 99;
}

.header-wrapper {
    display: flex;
    width: auto;
    height: 10vh;
    margin: 0 20vh;
}

.nav-image {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 11vh;
}

.nav-image-icon {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.size-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(media/menu_icon/menu_icon_main_on_black.png);
    width: auto;
    height: auto;
    z-index: 1;
}

.nav-image-logo {
    display: flex;
    height: 7vh;
    margin-right: 40%;
}

.center-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-img {
    width: 90%;
    opacity: .9;
    transition: .3s;
}

.size-img:hover {
    opacity: 1;
    transform: scale(1.1);
}



/* ver banner */

.banner-wrapper {
    margin: 15% 10% 10% 10%;
    padding: 0 10%;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 100%;
}

.video {
    position: fixed;
    top: 0%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container-download-link {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 1200px;
}

.download-link {
    display: flex;
    height: 7vh;
    justify-content: center;
    align-items: center;
    margin: 9vh 20vh;
    padding: 0% 2%;

    border-radius: 1vh;
    background-color: #d8fa00;
}

.download-link-img {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 1vh 1vh;

    max-width: 100%;
}

.img-link {
    width: 20vh;
}

/* video teaser */

.teas-v-bg-block {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-image: url(media/site-background-dark.webp);
    background-color: #181818;
    background-repeat: repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.teas-v-wrapper {
    width: 129vh;
    height: auto;
    margin: 0 auto;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    transition: .3s;
}

.teas-v-bg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #222222;
    border-radius: 2vh;
    padding-top: 3%;
    padding-bottom: 7%;
    border-style: solid;
    border-color: #181818;
    z-index: 1;

    transition: .3s;
}

.teas-v-bg:hover {
    animation: color-fade 2s infinite;
    transform: scale(1.1);
}

@keyframes color-fade {
    0% {
        border-color: #181818;
    }

    50% {
        border-color: #d8fa00;
    }

    100% {
        border-color: #181818;
    }
}

.img-teas-v {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 43vh;
    border-radius: .50rem;
}

.text-teas-v {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 15% 3% 15%;

    font-family: 'din-next-medium';
    font-size: 3.7vh;
    color: #222222;

    background-color: #efefef;
    border-radius: .2vh;
}

.teas-v-detail-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 2vh;
    padding: 1%;

    background-color: #181818;
    border-radius: 3vh;
}

.video-teas-v {
    border-style: solid;
    border-color: #181818;
    border-radius: 1rem;
    width: 77vh;
    margin: 0 2%;
}

/* NEW CHAR 1 */
.new-char-block {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #efefef;
    overflow: hidden;
}

.new-char-block-green {
    position: relative;
    width: 42.6vh;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #d8fa00;
    overflow: hidden;
}

.new-char-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'din-next-bold';
    font-size: 6vh;
    color: #222222;
    margin: 1rem 0rem;
    animation: fade-in-text 2s ease;
}

@keyframes fade-in-text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.new-char-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding-top: 4rem;
}

.new-char-block-green-bg-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 10.8vh;
    box-sizing: border-box;
    background-color: #d8fa00;
    overflow: hidden;
    font-size: 8.1vh;
    text-wrap: nowrap;
}

.new-char-border-text {
    position: absolute;
    overflow: hidden;
    top: 3%;
    font-family: 'din-next-bold';
    color: #d8fa00;
    -webkit-text-stroke: .2vh #222222;
    transform: scale(1.1);
    animation: move-text 1s ease;
    
}

@keyframes move-text {
    0% { top: -80%;}
    100% { top: 3%; }
}

.new-char-pattern-bg {
    position: absolute;
    width: 100%;
    height: 60vh;
    opacity: 0.7;
}

.pattern-bg {
    width: 100%;
}

.char-bg {
    position: relative;
    margin-bottom: 4%;
    box-sizing: border-box;
    background-color: #222222;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.name-char-panel-text {
    position: absolute;
    color: #222222;
    font-family: 'din-next-bold', sans-serif;
    font-style: italic;
    font-size: 4vh;
    left: 146vh;
    bottom: .5vh;

}

.name-char-panel {
    position: absolute;
    bottom: 0;
    width: 160vh;
    height: 6vh;
    background-color: #d8fa00;
    border-top-right-radius: 4vh;
    border-bottom-right-radius: 4vh;
}

.char-bg-black {
    position: absolute;
    bottom: -125%;
    right: -25%;
    transform: scale(2.1);
    animation: scale 40s ease-in-out infinite;
}

.char-bg-black-size {
    width: 100%;
    opacity: 0.53;
}

@keyframes scale {
    0% {
        transform: scale(2.1);
    }

    50% {
        transform: scale(2.4);
    }

    100% {
        transform: scale(2.1);
    }
}

.container-char1-art {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 3%;
    padding-left: 13%;
}

.char1-art {
    position: absolute;
    width: 50%;
    bottom: -11%;
    transition: .4s;
}

.char1-art:hover {
    transform: scale(1.1);
}

.char1-art-size {
    width: 100%;
}

.container-name-char-text {
    position: absolute;
    margin-left: 19vh;
}

.container-name-frac-char-text {
    position: absolute;
    margin-top: 13%;
    margin-left: 20vh;
}

.name-char-text {
    width: 100%;
    font-size: 25vh;
    font-family: 'din-next-heavy', sans-serif;
    color: #d8fa00;
}

.name-frac-char-text {
    width: 100%;
    font-family: 'din-next-heavy', sans-serif;
    font-style: italic;
    font-size: 5vh;
    color: #efefef;
}

.container-rank {
    position: absolute;
    top: 7.2vh;
    left: 149vh;
    width: 6%;
}

.rank-img {
    width: 100%;
}


/* NEW CHAR 2 */

.char2-bg-black {
    position: absolute;
    top: -50%;
    left: -40%;
    transform: scale(1.8);
    animation: scale-char2 40s ease-in-out infinite;
}

@keyframes scale-char2 {
    0% {
        transform: scale(1.8);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1.8);
    }
}

.char2-bg-black-size {
    width: 100%;
    opacity: 0.55;
}

.container-rank2 {
    position: absolute;
    top: 7vh;
    left: 20.3vh;
    width: 6%;
}

.name-char2-panel-text {
    position: absolute;
    color: #222222;
    font-family: 'din-next-bold', sans-serif;
    font-style: italic;
    font-size: 4vh;
    left: 4vh;
    bottom: .5vh;
}

.name-char2-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6vh;
    margin-right: 0;
    margin-left: 20vh;
    background-color: #d8fa00;
    border-top-left-radius: 4vh;
    border-bottom-left-radius: 4vh;
}

.container-name-char2-text {
    position: absolute;
    margin-left: 81.7vh;
}

.container-name-frac-char2-text {
    position: absolute;
    margin-top: 13%;
    margin-left: 127vh;
}

.container-char2-art {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 3%;
    padding-left: 13%;
}

.char2-art {
    position: absolute;
    width: 40%;
    bottom: 0%;
    left: 22%;
    transition: .4s;
}


.char2-art:hover {
    transform: scale(1.1);
}

/* MERCH */

.merch-block {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #222222;
    overflow: hidden;
}

.merch-block-bg-pattern {
    position: absolute;
    opacity: 0.2;
}

.merch-block-green {
    position: relative;
    width: 30vh;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #d8fa00;
    overflow: hidden;
}

.container-merch-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    box-sizing: border-box;
    padding: 0 11%;
    overflow: hidden;
}

.container-merch-prod-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 2%;
    padding-top: 5%;
}

.merch-prod-block {
    position: relative;
    width: 100%;
    border-radius: 2vh;
    border-style: solid;
    border-color: #d8fa00;
    transition: .3s;
    animation: border-color-fade 3s infinite;
}

@keyframes border-color-fade {
    0% {
        border-color: #d8fa00;
    }

    50% {
        border-color: #181818;
    }

    100% {
        border-color: #d8fa00;
    }
}

.container-merch-prod-block-text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.button-open-prod-bg {
    position: relative;
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 96%;
    height: 7vh;
    background-color: #d8fa00;
    border-radius: 5vh;
    border-style: solid;
    border-color: #d8fa00;
    transition: .3s;
}

.merch-open-prod-text {
    position: absolute;
    display: flex;
    font-family: 'din-next-heavy';
    font-size: 4vh;
    color: #222222;
    transition: .3s;
}

.container-merch-prod-block-text:hover .merch-open-prod-text {
    color: #d8fa00;
    font-size: 4.5vh;
}

.container-merch-prod-block-text:hover .button-open-prod-bg {
    background-color: #222222;
    border-style: solid;
    border-color: #d8fa00;
}

.container-merch-links-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 2%;
}

.merch-links-img {
    position: relative;
    width: 100%;
    transition: .3s;
}

.merch-links-img:hover {
    transform: scale(1.1);
}

.container-merch-link-block-text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2% 0;
    text-decoration: none;
}

.button-link-bg {
    position: relative;
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 96%;
    height: 8vh;
    background-color: #d8fa00;
    border-radius: 5vh;
    border-style: solid;
    border-color: #d8fa00;
    transition: .3s;
}

.merch-link-text {
    position: absolute;
    display: flex;
    font-family: 'din-next-heavy';
    font-size: 4vh;
    color: #222222;
    transition: .3s;
}

.container-merch-link-block-text:hover .merch-link-text {
    color: #d8fa00;
    font-size: 4.5vh;
}

.container-merch-link-block-text:hover .button-link-bg {
    background-color: #222222;
    border-style: solid;
    border-color: #d8fa00;
}

.links-block-merch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #222222;
    border-radius: 2vh;
    border-style: solid;
    border-color: #d8fa00;
    box-sizing: border-box;
    margin: 2%;
    margin-bottom: 5%;
}

.footer {
    position: relative;
    width: 100%;
    height: auto;
    background-color: black;
}

.footer-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    box-sizing: border-box;
    padding: 2% 11%;
    overflow: hidden;
}

.footer-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1% 0;
}

.footer-img-size {
    width: 20%;
}

.footer-text-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vh;
    color: #797979;
    margin: 1% 0;
    line-height: 1;
}

.footer-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vh;
    color: #797979;
    width: 100%;
    line-height: 1.3;
}

.footer-hoyo-img {
    width: 30%;
}

/* BUTTON TOP*/
.container-button-top {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0%;
    width: 100%;
    height: .1vh;
    z-index: 99;
}

.button-top {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin: 0 11%;
}

.button-top a {
    position: absolute;
    top: -7.5vh;
    left: 142vh;
    display: flex;
    justify-content: center;
    width: 10%;
    height: 22vh;
    opacity: 0.5;
    transition: .3s;
}

.button-top:hover a {
    opacity: 1;
    top: -21vh;
}

/* CHARACTER =================================================================================== */

.button-top-char {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin: 0 11%;
}

.button-top-char a {
    position: absolute;
    top: -7.5vh;
    left: 142vh;
    display: flex;
    justify-content: center;
    width: 10%;
    height: 22vh;
    opacity: 0.5;
    transition: .3s;
    filter: invert(1);
}

.button-top-char:hover a {
    opacity: 1;
    top: -21vh;
}

/* CHAR BANNER */
.char-banner-block {
    position: relative;
    width: 100%;
    background-color: #181718;
    margin-top: 10vh;
    height: 90vh;
    overflow: hidden;
}

.char-banner-panel-text {
    position: relative;
    display: flex;
    width: 100%;
    height: 10.7vh;
}

.char-block-green {
    position: relative;
    width: 43vh;
    height: 11vh;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #d8fa00;
    overflow: hidden;
}

.char-banner-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 80vh;
}

.char-position-imgs {
    position: relative;
    width: 100%;
    height: 100%;
}

.char-banner-white-bg {
    position: relative;
    box-sizing: border-box;
    height: 90vh;
    background-color: #efefef;
    overflow: hidden;
}

.char-banner-detal-left {
    position: absolute;
    top: 42%;
    left: 0;
    width: 15vh;
    animation: move-to-right 1s ease;
}

@keyframes move-to-right {
    0% {
        left: -3%;
    }

    100% {
        left: 0%;
    }
}

.char-banner-detal-right {
    position: absolute;
    top: 42%;
    right: 0;
    width: 15vh;
    animation: move-to-left 1s ease;
}

@keyframes move-to-left {
    0% {
        right: -3%;
    }

    100% {
        right: 0%;
    }
}

.char-banner-white-bg img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275vh;
    transition: .3s;

    animation: img-scale-in 0.5s ease, image-fade 26s ease-in-out infinite;
}

@keyframes image-fade {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@keyframes img-scale-in {
    0% {
        width: 290vh;
    }

    100% {
        width: 275vh;
    }
}

.char-banner-white-bg .char-banner1 {
  animation-delay: 20s;
}
.char-banner-white-bg .char-banner2 {
  animation-delay: 16s;
}
.char-banner-white-bg .char-banner3 {
  animation-delay: 12s;
}
.char-banner-white-bg .char-banner4 {
  animation-delay: 8s;
}
.char-banner-white-bg .char-banner5 {
  animation-delay: 4s;
}
.char-banner-white-bg .char-banner6 {
  animation-delay: 0s;
}

.char-banner-white-bg:hover .char-banner1{
    width: 285vh;
}

.char-banner-white-bg:hover .char-banner2{
    width: 285vh;
}

.char-banner-white-bg:hover .char-banner3{
    width: 285vh;
}

.char-banner-white-bg:hover .char-banner4{
    width: 285vh;
}

.char-banner-white-bg:hover .char-banner5{
    width: 285vh;
}

.char-banner-white-bg:hover .char-banner6{
    width: 285vh;
}

/* FACTION */

.factions-block {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #efefef;
    overflow: hidden;
}

.faction-block-green {
    position: relative;
    width: 38vh;
    height: 11vh;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #d8fa00;
    overflow: hidden;
}

.factions-block-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    box-sizing: border-box;
    padding: 0 11%;
    margin: 1% 0;
    overflow: hidden;
}

.faction-margin-top {
    margin-top: 5%;
}

.faction-margin-bottom  {
    margin-bottom: 5%;
}

.container-faction-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 2%;
}

.container-faction-block-text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.button-faction-bg {
    position: relative;
    display: flex;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 96%;
    height: 7vh;
    border-radius: 5vh;
    transition: .3s;
    overflow: hidden;
    background-color: #e6e6e6;
}

.button-faction-bg::before {
    content: "";
    position: absolute;
    background-color: #222222;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: .3s;
}

.button-faction-bg:hover::before {
    transform: translateY(0%);
}

.button-faction-bg span {
    position: absolute;
    display: flex;
    font-family: 'din-next-bold';
    font-size: 2.5vh;
    text-align: center;
    color: #222222;
    transition: .3s;
}

.button-faction-bg:hover span {
    color: #efefef;
}

.faction-block {
    position: relative;
    width: 41vh;
    transition: .3s;
}

.faction-block:hover {
    transform: scale(1.1);
}

.move-faction-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.7vh;
    overflow: hidden;
}

.move-faction-text-bg {
    position: absolute;
    display: flex;
    width: 140vh;
    height: 1.7vh;
    background-color: #c9c9c9;
    border-radius: 1vh;
    overflow: hidden;
    animation: open-bg 22s ease infinite;
}

@keyframes open-bg {
    0% { height: .5vh; } 
    4% { height: .5vh; }
    6% { height: 1.7vh; }
    87% { height: 1.7vh; }
    89% { height: .5vh; } 
    100% { height: .5vh; } 
}

.move-faction-text-bg span {
    position: absolute;
    top: -0.5vh;
    left: -155vh;
    display: flex;
    font-family: 'din-next-bold';
    font-size: 2vh;
    font-style: italic;
    text-align: center;
    color: #efefef;
    transition: .3s;
    animation: move-faction-text 22s linear infinite;
}

@keyframes move-faction-text {
    0%   { transform: translateX(0); }
    100% { transform: translateX(250%); }
}



/* UPCOMING FACTION */

.upcoming-faction-block-green {
    position: relative;
    width: 67vh;
    height: 11vh;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #d8fa00;
    overflow: hidden;
}

.upcoming-factions-block {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #222222;
    overflow: hidden;
}

.button-upcoming-faction-bg {
    position: relative;
    display: flex;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 96%;
    height: 7vh;
    border-radius: 5vh;
    transition: .3s;
    overflow: hidden;
    background-color: #313131;
}

.button-upcoming-faction-bg::before {
    content: "";
    position: absolute;
    background-color: #d8fa00;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: .3s;
}

.button-upcoming-faction-bg:hover::before {
    transform: translateY(0%);
}

.button-upcoming-faction-bg span {
    position: absolute;
    display: flex;
    font-family: 'din-next-bold';
    font-size: 2.5vh;
    text-align: center;
    color: #efefef;
    transition: .3s;
}

.button-upcoming-faction-bg:hover span {
    color: #222222;
}

/* HARUMASU =================================================================================== */

.harumasu-banner-block {
    position: relative;
    width: 100%;
    background-color: #181718;
    margin-top: 10vh;
    height: 40vh;
    overflow: hidden;
}

.haru-banner-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40vh;
}

.haru-banner-wrapper img {
    width: 100%;
    opacity: 0.5;
    filter: blur(.4vh);
}

.haru-green-panel-bg {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #d8fa00;
}

.haru-green-panel-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0% 11%;
}

.haru-button-back-bg {
    position: relative;
    display: flex;
    width: 55vh;
    height: 7vh;
    margin: 1%;
    background-color: #d8fa00;
    border-radius: 5vh;
    text-decoration: none;
    overflow: hidden;
    border-style: solid;
    border-width: 0.5vh;
    border-color: #222222;
}

.haru-button-back-bg a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
}

.haru-button-back-bg span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'din-next-bold';
    font-style: italic;
    font-size: 5vh;
    color: #222222;
}

.haru-button-back-bg-text {
    position: absolute;
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'din-next-bold';
    font-style: italic;
    font-size: 5vh;
    color: #22222200;
    -webkit-text-stroke: 0.1vh #d8fa00;
    opacity: 0;
    transition: .3s;
}

.haru-button-back-bg:hover span {
    color: #d8fa00;
}

.haru-button-back-bg:hover .haru-button-back-bg-text{
    opacity: 1;
}

.haru-button-back-bg:hover .haru-button-pattern-bg{
    opacity: 1;
}

.haru-button-pattern-bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s;
}

.haru-button-pattern-bg img {
    width: 140vh;
}
