@font-face {
    font-family: 'din-next-regular';
    src: url(fonts/DIN-Next-W1G/dinnextw1g.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din-next-medium';
    src: url(fonts/DIN-Next-W1G/dinnextw1g_medium.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "din-next-bold";
    src: url(fonts/DIN-Next-W1G/dinnextw1g_bold.woff);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0%;
    background-color: #222222;
    font-family: 'din-next-regular', sans-serif;
}

/* navigation */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: black;
    z-index: 99;
}

.header-wrapper {
    display: flex;
    width: 50%;
    height: 10vh;
    margin: 0 auto;
}

.nav-image {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
}

.nav-image-icon {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-image-logo {
    display: flex;
    height: 7vh;
    margin-right: 20%;
}

.center-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-img {
    width: 90%;
    opacity: .9;
    transition: .3s;
}

.size-img:hover {
    opacity: 1;
    width: 100%;
}



/* ver banner */
/*.banner-bg {
}*/

.banner-wrapper {
    margin: 15% 10% 10% 10%;
    padding: 0 10%;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 100%;
}

.video {
    position: fixed;
    top: 0%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container-download-link {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 1200px;
}

.download-link {
    display: flex;
    height: 7vh;
    justify-content: center;
    align-items: center;
    margin: 9vh 20vh;
    padding: 0% 2%;

    border-radius: 1vh;
    background-color: #d8fa00;
}

.download-link-img {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 1vh 1vh;

    max-width: 100%;
}

.img-link {
    width: 20vh;
}

/* video teaser */

.teas-v-bg-block {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-image: url(media/site-background-dark.webp);
    background-color: #181818;
    background-repeat: repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.teas-v-wrapper {
    width: 129vh;
    height: auto;
    margin: 0 auto;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    transition: .3s;
}

.teas-v-bg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #222222;
    border-radius: 2vh;
    padding-top: 3%;
    padding-bottom: 7%;
    border-style: solid;
    border-color: #181818;
    z-index: 1;

    transition: .3s;
}

.teas-v-bg:hover {
    animation: color-fade 2s forwards;
    transform: scale(1.1);
}

@keyframes color-fade {
    0% {
        border-color: #181818;
    }

    50% {
        border-color: #d8fa00;
    }

    100% {
        border-color: #181818;
    }
}

.img-teas-v {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 43vh;
    border-radius: .50rem;
}

.text-teas-v {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 15% 3% 15%;

    font-family: 'din-next-medium';
    font-size: 3.7vh;
    color: #222222;

    background-color: #efefef;
    border-radius: .2vh;
}

.teas-v-detail-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 2vh;
    padding: 1%;

    background-color: #181818;
    border-radius: 3vh;
}

.video-teas-v {
    border-style: solid;
    border-color: #181818;
    border-radius: 1rem;
    width: 77vh;
    margin: 0 2%;
    transition: 0.3s;
}

.video-teas-v:hover {
    border-color: #d8fa00;
}

/* NEW CHAR */
.new-char-block {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #efefef;
    overflow: hidden;
}

.new-char-block-green {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #d8fa00;
    overflow: hidden;
}

.new-char-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'din-next-bold';
    font-size: 6vh;
    color: #222222;
    margin: 1rem 0rem;
}

.new-char-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    transition: .3s;
}

.pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}